* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  list-style: none;
}

.gallery li {
  flex-basis: calc((100% - 32px) / 3);
}

.gallery img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#name-input,
h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* 4 */
.login-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 100%;
  max-width: 408px;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
}

.login-form input,
.login-form button {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form button {
  background: #0077cc;
  color: #fff;
  border: none;
  cursor: pointer;
}
